{{#each-in this.showErrors as |field value|}}
  {{#if value}} {{v-get model field "message"}} {{/if}}
{{/each-in}}

<h1>Digitaal klachtenformulier</h1>

<p>
  U kan klacht indienen tegen de werking van een lokaal bestuur. Meer informatie
  over klacht indienen kan u vinden op:
  <a href="https://lokaalbestuur.vlaanderen.be/klachtenwegwijzer">
    https://lokaalbestuur.vlaanderen.be/klachtenwegwijzer
  </a>.
</p>

<form>
  <label>Naam</label>
  {{input value=model.name class="form-control" focus-out=(action (mut showErrors.name) true)}}

  <br><br>

  <label>Contactpersoon indien vereniging</label>
  {{input value=model.contactPersonName class="form-control"}}

  <br><br>

  <label>Straat</label>
  {{input value=model.street class="form-control" focus-out=(action (mut showErrors.street) true)}}

  <br><br>

  <label>Huisnummer</label>
  {{input value=model.houseNumber class="form-control" focus-out=(action (mut showErrors.houseNumber) true)}}

  <br><br>

  <label>Toevoeging</label>
  {{input value=model.addressComplement class="form-control"}}

  <br><br>

  <label>Postcode</label>
  {{input value=model.postalCode class="form-control" focus-out=(action (mut showErrors.postalCode) true)}}

  <br><br>

  <label>Gemeente of Stad</label>
  {{input value=model.locality class="form-control" focus-out=(action (mut showErrors.locality) true)}}

  <br><br>

  <label>Telefoonnummer</label>
  {{input value=model.telephone class="form-control" focus-out=(action (mut showErrors.telephone) true)}}

  <br><br>

  <label>Mailadres</label>
  {{input value=model.email class="form-control" focus-out=(action (mut showErrors.email) true)}}

  <br><br>

  <label>Omschrijving klacht</label>
  {{textarea value=model.content class="form-control" focus-out=(action (mut showErrors.content) true)}}
  <p>
    Beschrijf zo duidelijk mogelijk wat uw klacht inhoudt: wie, wat, waar en
    wanneer. Geef aan tegen welke handelingen of beslissingen van welk bestuur
    u klacht wenst in te dienen, en wat zijn de concrete feiten/handelingen
    waarover u klacht wil indienen.
  </p>

  <br><br>

  Bijlagen

  <br><br>

  <button {{action "submitComplaint"}} disabled={{v-get model "isInvalid"}}>Bericht verzenden</button>
</form>

<div>
  {{#each model.errors.name as |error|}}
    {{error.message}}
  {{/each}}
</div>

{{outlet}}
