<div class="lokaalbestuur-vlaanderen">
  {{#if this.formIsInvalid}}
    <AuAlert @alertIcon="alert-triangle" @alertTitle="Gelieve de velden van uw bericht na te kijken" @alertskin="error">
      <ul class="au-c-bullet-list">
        {{#each-in this.showErrors.showErrorObject as |field value|}}
          {{#if value}}
            {{#if (v-get this.model field "isInvalid")}}
              <li>{{v-get this.model field "message"}}</li>
            {{/if}}
          {{/if}}
        {{/each-in}}
      </ul>
    </AuAlert>
  {{/if}}

  <AuContent @skin="large" class="au-u-margin-bottom">
    <p>
      U kan klacht indienen tegen de werking van een lokaal bestuur. Meer informatie
      over klacht indienen kan u vinden op:
      <a href="https://lokaalbestuur.vlaanderen.be/klachtenwegwijzer" class="au-c-link">https://lokaalbestuur.vlaanderen.be/klachtenwegwijzer</a>.
    </p>
  </AuContent>

  <form class="au-o-flow">
    <div>
      <AuLabel for="complaint-name" @error="{{this.nameIsInvalid}}">
        Naam
        <AuPill>Verplicht</AuPill>
      </AuLabel>
      <Input id="complaint-name" @value={{this.model.name}} class={{if this.nameIsInvalid "au-c-input au-c-input--block" "au-c-input au-c-input--block"}} @focus-out={{fn (mut this.showErrors.name) true}} />
      {{#if this.nameIsInvalid}}
        <AuHelpText @error="true">Gelieve dit veld in te vullen.</AuHelpText>
      {{/if}}
    </div>

    <div>
      <AuLabel for="complaint-name-contact">
        Contactpersoon indien vereniging
      </AuLabel>
      <Input id="complaint-name-contact" @value={{this.model.contactPersonName}} class="au-c-input au-c-input--block" />
    </div>

    <div>
      <div class="au-o-grid au-o-grid--small">
        <div class="au-o-grid__item au-u-2-4@medium">
          <AuLabel for="complaint-street" @error="{{this.streetIsInvalid}}">
            Straat
            <AuPill>Verplicht</AuPill>
          </AuLabel>
          <Input id="complaint-street" @value={{this.model.street}} class={{if this.streetIsInvalid "au-c-input au-c-input--block" "au-c-input au-c-input--block"}} @focus-out={{fn (mut this.showErrors.street) true}} />
          {{#if this.streetIsInvalid}}
            <AuHelpText @error="true">Gelieve dit veld in te vullen.</AuHelpText>
          {{/if}}
        </div>
        <div class="au-o-grid__item au-u-1-4@medium">
          <AuLabel for="complaint-number" @error="{{this.houseNumberIsInvalid}}">
            Huisnummer
            <AuPill>Verplicht</AuPill>
          </AuLabel>
          <Input id="complaint-number" @value={{this.model.houseNumber}} class={{if this.houseNumberIsInvalid "au-c-input au-c-input--block" "au-c-input au-c-input--block"}} @focus-out={{fn (mut this.showErrors.houseNumber) true}} />
          {{#if this.houseNumberIsInvalid}}
            <AuHelpText @error="true">Geef een geldig huisnummer op.</AuHelpText>
          {{/if}}
        </div>
        <div class="au-o-grid__item au-u-1-4@medium">
          <AuLabel for="complaint-addition">
            Toevoeging
          </AuLabel>
          <Input id="complaint-addition" @value={{this.model.addressComplement}} class="au-c-input au-c-input--block" />
        </div>

        <div class="au-o-grid__item au-u-2-3@medium">
          <AuLabel for="complaint-city" @error="{{this.localityIsInvalid}}">
            Gemeente of Stad
            <AuPill>Verplicht</AuPill>
          </AuLabel>
          <Input id="complaint-city" @value={{this.model.locality}} class={{if this.localityIsInvalid "au-c-input au-c-input--block" "au-c-input au-c-input--block"}} @focus-out={{fn (mut this.showErrors.locality) true}} />
          {{#if this.localityIsInvalid}}
            <AuHelpText @error="true">Gelieve dit veld in te vullen.</AuHelpText>
          {{/if}}
        </div>
        <div class="au-o-grid__item au-u-1-3@medium">
          <AuLabel for="complaint-zip" @error="{{this.postalCodeIsInvalid}}">
            Postcode
            <AuPill>Verplicht</AuPill>
          </AuLabel>
          <Input id="complaint-zip" @value={{this.model.postalCode}} class={{if this.postalCodeIsInvalid "au-c-input au-c-input--block" "au-c-input au-c-input--block"}} @focus-out={{fn (mut this.showErrors.postalCode) true}} />
          {{#if this.postalCodeIsInvalid}}
            <AuHelpText @error="true">Geef een geldige postcode op.</AuHelpText>
          {{/if}}
        </div>
      </div>
    </div>

    <div>
      <AuLabel for="complaint-phone" @error="{{this.telephoneIsInvalid}}">
        Telefoonnummer
      </AuLabel>
      <Input id="complaint-phone" @value={{this.model.telephone}} class={{if this.telephoneIsInvalid "au-c-input au-c-input--block" "au-c-input au-c-input--block"}} @focus-out={{fn (mut this.showErrors.telephone) true}} />
      {{#if this.telephoneIsInvalid}}
        <AuHelpText @error="true">Geef een geldig telefoonnummer op.</AuHelpText>
      {{/if}}
    </div>

    <div>
      <AuLabel for="complaint-mail" @error="{{this.emailIsInvalid}}">
        Mailadres
        <AuPill>Verplicht</AuPill>
      </AuLabel>
      <Input id="complaint-mail" @value={{this.model.email}} class={{if this.emailIsInvalid "au-c-input au-c-input--block" "au-c-input au-c-input--block"}} @focus-out={{fn (mut this.showErrors.email) true}} />
      {{#if this.emailIsInvalid}}
        <AuHelpText @error="true">Geef een geldig mailadres op.</AuHelpText>
      {{/if}}
    </div>

    <div>
      <AuLabel for="complaint-complaint" @error="{{this.contentIsInvalid}}">
        Omschrijving klacht
        <AuPill>Verplicht</AuPill>
      </AuLabel>
      <Textarea id="complaint-complaint" @value={{this.model.content}} class={{if this.contentIsInvalid "au-c-textarea au-c-textarea--block" "au-c-textarea au-c-textarea--block"}} @focus-out={{fn (mut this.showErrors.content) true}} @rows="5" />
      {{#if this.contentIsInvalid}}
        <AuHelpText @error="true">Gelieve dit veld in te vullen.</AuHelpText>
      {{/if}}
      <AuHelpText>
        Beschrijf zo duidelijk mogelijk wat uw klacht inhoudt: wie, wat, waar en
        wanneer. Geef aan tegen welke handelingen of beslissingen van welk bestuur
        u klacht wenst in te dienen, en wat zijn de concrete feiten/handelingen
        waarover u klacht wil indienen.
      </AuHelpText>
    </div>

    <div>
      <AuLabel for="complaint-attachment">
        Bijlagen
      </AuLabel>
      <div>
        {{#each this.model.attachments as |attachment|}}
          <VoMuFileCard @file={{attachment}} @downloadable={{false}} @onDelete={{this.deleteFile}} />
        {{/each}}
        <VoMuFileDropzone @onFinishUpload={{this.attachFile}} @maxFileSizeMB={{1024}} />
      </div>
    </div>

    <div>
      {{#if this.saveComplaintError}}
        {{this.saveComplaintError}}
      {{/if}}
    </div>

    <AuButton {{on "click" this.submitComplaint}} @size="large" @disabled="{{v-get this.model "isInvalid"}}" type="submit">Bericht verzenden</AuButton>
  </form>
</div>

{{outlet}}
