<div class="lokaalbestuur-vlaanderen">
	{{#if showErrorsBlock}}
		<div class="alert alert--error">
		  <div class="alert__icon" aria-hidden="true"></div>
		  <div class="alert__content">
		    <div class="alert__title">Gelieve de velden van uw bericht na te kijken</div>
		    <div class="alert__message">
					<ul class="bullet-list">
						{{#each-in this.showErrors as |field value|}}
						  {{#if value}}
								<li>{{v-get model field "message"}}</li>
							{{/if}}
						{{/each-in}}
					</ul>
				</div>
			</div>
		</div>
	{{/if}}

	<div class="u-padding--round--small">
		<h1 class="h1">Digitaal klachtenformulier</h1>

		<p class="u-spacer">
		  U kan klacht indienen tegen de werking van een lokaal bestuur. Meer informatie
		  over klacht indienen kan u vinden op:
		  <a href="https://lokaalbestuur.vlaanderen.be/klachtenwegwijzer">https://lokaalbestuur.vlaanderen.be/klachtenwegwijzer</a>.
		</p>

		<form>
			<div class="form__row">
			  <label class="form__label">Naam <span class="form__required">*</span></label>
				 {{input value=model.name class="input-field input-field--block {{if showErrors.fieldName 'input-field--error' ''}}" focus-out=(action (mut showErrors.name) true)}}
			</div>

			<div class="form__row">
			  <label class="form__label">Contactpersoon indien vereniging</label>
			  {{input value=model.contactPersonName class="input-field input-field--block"}}
			</div>

			<div class="form__row">
				<div class="grid">
				  <div class="col--6-12 col--12-12--s">
				  	<label class="form__label">Straat <span class="form__required">*</span></label>
				 	 	{{input value=model.street class="input-field input-field--block {{if showErrors.fieldName 'input-field--error' ''}}" focus-out=(action (mut showErrors.street) true)}}
				 	</div>
				  <div class="col--3-12 col--6-12--s">
				  	<label class="form__label">Huisnummer <span class="form__required">*</span></label>
				 	 {{input value=model.houseNumber class="input-field input-field--block {{if showErrors.fieldName 'input-field--error' ''}}" focus-out=(action (mut showErrors.houseNumber) true)}}
				 	</div>
				  <div class="col--3-12 col--6-12--s">
				  	<label class="form__label">Toevoeging</label>
				 	 {{input value=model.addressComplement class="input-field input-field--block"}}
				 	</div>
				</div>
			</div>

			<div class="form__row">
				<div class="grid">
				  <div class="col--8-12 col--12-12--xs">
					  <label class="form__label">Gemeente of Stad <span class="form__required">*</span></label>
					  {{input value=model.locality class="input-field input-field--block {{if showErrors.fieldName 'input-field--error' ''}}" focus-out=(action (mut showErrors.locality) true)}}
					</div>
				  <div class="col--4-12 col--12-12--xs">
					  <label class="form__label">Postcode <span class="form__required">*</span></label>
					  {{input value=model.postalCode class="input-field input-field--block {{if showErrors.fieldName 'input-field--error' ''}}" focus-out=(action (mut showErrors.postalCode) true)}}
					</div>
				</div>
			</div>

			<div class="form__row">
			  <label class="form__label">Telefoonnummer</label>
			  {{input value=model.telephone class="input-field input-field--block" focus-out=(action (mut showErrors.telephone) true)}}
			</div>

			<div class="form__row">
			  <label class="form__label">Mailadres <span class="form__required">*</span></label>
			  {{input value=model.email class="input-field input-field--block {{if showErrors.fieldName 'input-field--error' ''}}" focus-out=(action (mut showErrors.email) true)}}
			</div>

			<div class="form__row">
			  <label class="form__label">Omschrijving klacht <span class="form__required">*</span></label>
			  {{textarea value=model.content class="textarea textarea--block {{if showErrors.fieldName 'textarea--error' ''}} component u-spacer--tiny" focus-out=(action (mut showErrors.content) true) rows="5"}}
			  <p class="smaller">
			    Beschrijf zo duidelijk mogelijk wat uw klacht inhoudt: wie, wat, waar en
			    wanneer. Geef aan tegen welke handelingen of beslissingen van welk bestuur
			    u klacht wenst in te dienen, en wat zijn de concrete feiten/handelingen
			    waarover u klacht wil indienen.
			  </p>
			</div>

			<div class="form__row">
			  <label class="form__label">Bijlagen</label>
			  <div>
			    {{#each model.attachments as |attachment|}}
			      {{vo-mu-file-card file=attachment onDelete=(action "deleteFile") }}
			    {{/each}}
			    {{vo-mu-file-dropzone onFinishUpload=(action "attachFile") maxFileSizeMB=1024}}
			  </div>
			</div>

		  <div>
		    {{#if saveComplaintError}}
		      {{saveComplaintError}}
		    {{/if}}
		  </div>
		  <button {{action "submitComplaint"}} disabled={{v-get model "isInvalid"}} class="button" role="button">Bericht verzenden</button>
		</form>
	</div>
</div>

	{{outlet}}
