<div class="au-u-padding-tiny overflow-hidden">
  {{#if this.formIsInvalid}}
    <AuAlert
      @icon="alert-triangle"
      @title="Gelieve de velden van uw bericht na te kijken"
      @skin="error"
    >
      <ul class="au-c-bullet-list">
        {{#each-in this.showErrors.showErrorObject as |field value|}}
          {{#if value}}
            {{#if (get this.errors field)}}
              <li>{{get this.errors field}}</li>
            {{/if}}
          {{/if}}
        {{/each-in}}
      </ul>
    </AuAlert>
  {{/if}}

  <form class="au-c-form" {{on "submit" this.submitComplaint}}>
    <AuFormRow>
      <AuLabel
        for="complaint-name"
        @error={{this.nameIsInvalid}}
        @required={{true}}
      >
        Naam
      </AuLabel>
      <AuInput
        id="complaint-name"
        value={{this.model.name}}
        @error={{this.nameIsInvalid}}
        @width="block"
        {{on "input" (fn this.changeModel "name")}}
      />
      {{#if this.nameIsInvalid}}
        <AuHelpText @error={{true}}>
          Gelieve dit veld in te vullen.
        </AuHelpText>
      {{/if}}
    </AuFormRow>

    <AuFormRow>
      <AuLabel for="complaint-name-contact">
        Contactpersoon indien vereniging
      </AuLabel>
      <AuInput
        id="complaint-name-contact"
        value={{this.model.contactPersonName}}
        {{on "input" (fn this.changeModel "contactPersonName")}}
        @width="block"
      />
    </AuFormRow>

    <AuFormRow>
      <div class="au-u-flex-self-stretch au-o-grid au-o-grid--small">
        <div class="au-o-grid__item au-u-2-4@medium">
          <AuLabel
            for="complaint-street"
            @error={{this.streetIsInvalid}}
            @required={{true}}
          >
            Straat
          </AuLabel>
          <AuInput
            id="complaint-street"
            value={{this.model.street}}
            @error={{this.streetIsInvalid}}
            @width="block"
            {{on "input" (fn this.changeModel "street")}}
          />
          {{#if this.streetIsInvalid}}
            <AuHelpText @error={{true}}>
              Gelieve dit veld in te vullen.
            </AuHelpText>
          {{/if}}
        </div>
        <div class="au-o-grid__item au-u-1-4@medium">
          <AuLabel
            for="complaint-number"
            @error={{this.houseNumberIsInvalid}}
            @required={{true}}
          >
            Huisnummer
          </AuLabel>
          <AuInput
            id="complaint-number"
            value={{this.model.houseNumber}}
            @error={{this.houseNumberIsInvalid}}
            @width="block"
            {{on "input" (fn this.changeModel "houseNumber")}}
          />
          {{#if this.houseNumberIsInvalid}}
            <AuHelpText @error={{true}}>
              Geef een geldig huisnummer op.
            </AuHelpText>
          {{/if}}
        </div>
        <div class="au-o-grid__item au-u-1-4@medium">
          <AuLabel for="complaint-addition">
            Toevoeging
          </AuLabel>
          <AuInput
            id="complaint-addition"
            value={{this.model.addressComplement}}
            @width="block"
            {{on "input" (fn this.changeModel "addressComplement")}}
          />
        </div>
      </div>
    </AuFormRow>
    <AuFormRow>
      <div class="au-u-flex-self-stretch au-o-grid au-o-grid--small">
        <div class="au-o-grid__item au-u-2-3@medium">
          <AuLabel
            for="complaint-city"
            @error={{this.localityIsInvalid}}
            @required={{true}}
          >
            Gemeente of Stad
          </AuLabel>
          <AuInput
            id="complaint-city"
            value={{this.model.locality}}
            @error={{this.localityIsInvalid}}
            @width="block"
            {{on "input" (fn this.changeModel "locality")}}
          />
          {{#if this.localityIsInvalid}}
            <AuHelpText @error={{true}}>
              Gelieve dit veld in te vullen.
            </AuHelpText>
          {{/if}}
        </div>
        <div class="au-o-grid__item au-u-1-3@medium">
          <AuLabel
            for="complaint-zip"
            @error={{this.postalCodeIsInvalid}}
            @required={{true}}
          >
            Postcode
          </AuLabel>
          <AuInput
            id="complaint-zip"
            value={{this.model.postalCode}}
            @error={{this.postalCodeIsInvalid}}
            @width="block"
            {{on "input" (fn this.changeModel "postalCode")}}
          />
          {{#if this.postalCodeIsInvalid}}
            <AuHelpText @error={{true}}>
              Geef een geldige postcode op.
            </AuHelpText>
          {{/if}}
        </div>
      </div>
    </AuFormRow>

    <AuFormRow>
      <AuLabel for="complaint-phone" @error={{this.telephoneIsInvalid}}>
        Telefoonnummer
      </AuLabel>
      <AuInput
        id="complaint-phone"
        value={{this.model.telephone}}
        @error={{this.telephoneIsInvalid}}
        @width="block"
        {{on "input" (fn this.changeModel "telephone")}}
      />
      {{#if this.telephoneIsInvalid}}
        <AuHelpText @error={{true}}>
          Geef een geldig telefoonnummer op.
        </AuHelpText>
      {{/if}}
    </AuFormRow>

    <AuFormRow>
      <AuLabel
        for="complaint-mail"
        @error={{this.emailIsInvalid}}
        @required={{true}}
      >
        E-mailadres
      </AuLabel>
      <AuInput
        id="complaint-mail"
        value={{this.model.email}}
        @error={{this.emailIsInvalid}}
        @width="block"
        {{on "input" (fn this.changeModel "email")}}
      />
      {{#if this.emailIsInvalid}}
        <AuHelpText @error={{true}}>
          Geef een geldig e-mailadres op.
        </AuHelpText>
      {{/if}}
    </AuFormRow>

    <AuFormRow>
      <AuLabel
        for="complaint-complaint"
        @error={{this.contentIsInvalid}}
        @required={{true}}
      >
        Omschrijving klacht
      </AuLabel>
      <AuTextarea
        id="complaint-complaint"
        value={{this.model.content}}
        @error={{this.contentIsInvalid}}
        @width="block"
        rows="5"
        {{on "input" (fn this.changeModel "content")}}
      />
      {{#if this.contentIsInvalid}}
        <AuHelpText @error={{true}}>
          Gelieve dit veld in te vullen.
        </AuHelpText>
      {{/if}}
      <AuHelpText>
        Beschrijf zo duidelijk mogelijk wat uw klacht inhoudt: wie, wat, waar en
        wanneer. Geef aan tegen welke handelingen of beslissingen van welk
        bestuur u klacht wenst in te dienen, en wat zijn de concrete
        feiten/handelingen waarover u klacht wil indienen.
      </AuHelpText>
    </AuFormRow>

    <AuFormRow>
      <AuLabel for="complaint-attachment">
        Bijlagen
      </AuLabel>
      {{#each this.uploadedFiles as |file|}}
        <AuFileCard
          class="au-u-margin-bottom-small full-width"
          @filename={{file.name}}
          @fileSize={{file.size}}
          @onDelete={{fn this.deleteFile file}}
        />
      {{/each}}
      <AuFileUpload
        id="complaint-attachment"
        class="full-width"
        @maxFileSizeMB={{1024}}
        @multiple={{true}}
        @onUpload={{this.attachFile}}
        @onQueueUpdate={{this.handleQueueUpdate}}
      />
    </AuFormRow>

    <div>
      {{#if this.saveComplaintError}}
        {{this.saveComplaintError}}
      {{/if}}
    </div>

    <AuButton
      @size="large"
      @loading={{this.saveComplaint.isRunning}}
      @loadingMessage="Aan het verzenden"
      @disabled={{this.isUploadingFiles}}
      class="au-c-button--green"
      type="submit"
    >
      Bericht verzenden
    </AuButton>
  </form>
</div>

{{outlet}}